<body class="Fundo_degra">
    <%- include('menu'); %>
    <%- include('style'); %>




 <div class="quadradoTexto d-flex flex-column align-items-center mt-4" style="min-height: calc(100vh - 100px);">
    <h1 class="tituloEsporte">Sobre Nós</h1> <!-- Título fora do quadrado -->
    <div class="containerEsporteTexto">
        <h2 class="subtitulosEsportes text-center">Quem Sou?</h2>
        <p> Olá! Meu nome é Odin Gasso Kologeski e sou estudante do ensino médio integrado com programação para internet no Instituto Federal
            Sul-rio-grandense (IFSul) em Gravatáí. Desde que comecei minha jornada acadêmica, comecei a gostar bastantede tecnologia de
             e um pouco de programação, o que me levou a criar minha própria aplicação para meu Trabalho de Conclusão de Curso (TCC).</p>
             
             <h2 class="subtitulosEsportes text-center">Minha jornada</h2>
             Desde o início do curso, tive a oportunidade de aprender diversas linguagens de programação e ferramentas
              que me ajudaram a entender melhor o desenvolvimento web. Cada aula e projeto contribuíram para meu crescimento e me motivaram
               a aplicar esse conhecimento nesse projeto.
        <br></br>
               <h2 class="subtitulosEsportes text-center">No futuro?</h2>
               <p>Após concluir o ensino médio, pretendo ingressar em uma faculdade de Análise e Desenvolvimento de Sistemas no IFSUL,
                 onde atualmente estudo. Optarei por um curso noturno, permitindo que eu utilize as manhãs para trabalhar.
                  Já estou estagiando na Dolphin, uma empresa de engenharia elétrica, o que tem sido uma experiência enriquecedora.</p>
              <p> Durante as tardes, dedicarei meu tempo tanto aos estudos da faculdade quanto à preparação para a academia militar,
                 com um foco especial na Aeronáutica, um sonho que cultivo desde jovem. Dessa forma, aproveitarei ao máximo meu tempo, 
                 conciliando trabalho e educação superior. </p>
    </div>
</div>
<%- include('footer'); %>

</body>